#title {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: rgb(214, 179, 22);
    text-align: center;
    padding: 10px;
}

#description {
    font-family: Arial, Helvetica, sans-serif;
    color: green;
    padding: 5px;
    font-size: larger;
    text-align: center;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="text"],
input[type="number"],
input[type="email"],
textarea,
select {
    width: 98%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-family: Arial, sans-serif;
    font-weight: bold;
}

#address {
    height: 80px;
}

input[type="radio"] {
    margin-right: 5px;
}

table {
    border-collapse: collapse;
    width: 100%;
    margin-top: 20px;
}

th, td {
    border: 1px solid black;
    padding: 8px;
    text-align: left;
    font-family: Arial, sans-serif;
}

th {
    background-color: #f2f2f2;
}

#tableContainer {
    width: 100%;
    margin-top: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 8px;
}

button {
    background-color: #4CAF50; /* Green background */
    color: white; /* White text color */
    padding: 10px 15px; /* Padding around the text */
    border: none; /* Remove border */
    border-radius: 5px; /* Rounded corners */
    cursor: pointer; /* Pointer cursor on hover */
    font-size: 16px; /* Font size */
    transition: background-color 0.3s; /* Smooth transition for hover effect */
}

button:hover {
    background-color: #45a049; /* Darker green on hover */
}